body {
    background-color: white;
    color: #333;
    font-family: "Dosis";
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

h1 {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "Dosis", sans-serif;
    font-size: 32pt;
    font-weight: bold;
}

h2 {
    margin: 0 0 0px 0;
    padding: 0;
    color: #444444;
    font-family: "Dosis", sans-serif;
    font-size: 28px;
    font-weight: bold;
}

h3 {
    margin: 32px 0 0 0;
    padding: 0;
    color: #7B7B67;
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

small {
    font-size: 12px;
}

ul {
    margin-left: 50px;
    padding: 0;
    list-style-type: disk;
}

ul > li
{
    color: #ff8400;
}

ul > li > span
{
	color: #333;
    font-family: "Dosis";
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;}

a {
    color: #ff2500;
    text-decoration: none;
}

a:hover {
    color: #ff8400;
}
.container {
    width: 800px;
    margin: 0 auto;
}

header {
	width: 900px;
	margin: 0 auto;
    /*margin-top: 50px;
    margin-bottom: 70px;*/
	padding: 50px;
}

footer {
    clear: both;
    width: 590px;
    margin: 0 5px 0 205px;
    padding: 40px 0;

    font-size: 11px;
    color: #888;
    font-style: italic;
}
